* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(172, 159, 187);
  font-family: "Oswald", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 45rem;
  background-color: #fff;
  padding: 2rem;
  margin: 1.25rem;
  border-radius: 0 2em 0 0;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.5);
}
